<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">

    <link href="~/Content/scss/main.css" rel="stylesheet" />
    <link href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/scss/custom.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div id="page-container">

        <!-- Main Container -->
        <main id="main-container">
            < @RenderBody()

        </main>

    </div>

    <script src="~/Content/js/dashmix.app.min.js"></script>
</body>
</html>